@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700;900&family=Noto+Serif+KR:wght@300;500&family=Palanquin:wght@300&display=swap');

body{
    background-color: #C9EEFA;
    line-height: 1.4;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    word-break: keep-all;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.container{
    padding-left: 0;
    padding-right: 0;
    max-width: 780px;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.sans{
    font-family: 'Noto Sans KR', sans-serif
}
.serif{
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
}
.wrap{
    position: relative;
    width: 450px;
    margin: 0 auto;
}

/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Palanquin', sans-serif; */

@media(max-width:900px){
    .container{
        width: 80%;
    }
}
@media(max-width:500px){
    .container{
        width: 100%;
    }
    .event-wrap{
        width: 90%;
    }
}