@import url(reset.css);
@import url(commons.css);


.se01-wrap{
    position: relative;
    height: 150px;
    overflow: hidden;
}
.first-circle{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: #8AE3FF;
    width: 100%;
    max-width: 600px;
    height: 465px;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%,-335px);
    animation: circle-down 0.7s cubic-bezier(.7,.86,.78,1);
}
@keyframes circle-down {
    from{top:-150px;}
    to{top:0px;}
}
.first-circle span{
    color: #fff;
    position: absolute;
    bottom: 70px;
    font-weight: 300;
}
.main{
    margin-bottom: 160px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 300;
}
@keyframes show-up{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.title .circle{
    width: 80px;
    height: 80px;
    color: #2034EA;
    border: 1px solid #2034EA;
    border-radius: 100%;
    font-size: 12px;
    line-height: 80px;
    opacity: 0;
    transform: translateY(20px);
    animation: show-up 0.7s cubic-bezier(.7,.86,.78,1);
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}
.writer{
    padding: 45px 0;

    opacity: 0;
    transform: translateY(20px);

    animation: show-up 0.7s cubic-bezier(.7,.86,.78,1);
    animation-delay: 1.7s;animation-fill-mode: forwards;
}
.writer p{
    position: relative;
}
.writer P::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85px, -50%);
    width: 30px;
    height: 1px;
    background-color: #000;
}
.writer P::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(85px, -50%);
    width: 30px;
    height: 1px;
    background-color: #000;
}
.writer h3{
    font-size: 30px;
    font-weight: 500;
}
.anniversary{
    position: relative;
    width: 255px;
    height: 75px;
    margin: 0 auto;

    opacity: 0;
    transform: translateY(20px);

    animation: show-up 0.7s cubic-bezier(.7,.86,.78,1);
    animation-delay: 2s;animation-fill-mode: forwards;
}
.anniversary span{
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 72px;
    color: #fff;
    background-color: #2034EA;
    border-radius: 100%;
    font-size: 35px;
}
.anniversary span:nth-child(1){
    left: 0;
}
.anniversary span:nth-child(2){
    left: 60px;
}
.anniversary span:nth-child(3){
    left: 120px;
}
.anniversary span:nth-child(4){
    left: 180px;
}

.title h2{
    display: inline-block;
    position: relative;
    font-size: 27px;
    padding: 25px 0 10px;
    margin-bottom: 25px;
    font-weight: 500;
    color: #2034EA;

    opacity: 0;
    transform: translateY(20px);

    animation: show-up 0.7s cubic-bezier(.7,.86,.78,1);
    animation-delay: 2.3s;animation-fill-mode: forwards;
}
.title h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 240px;
    transform: translateX(-50%);
    height: 1px;
    background: #2034EA;
}
.main .period{
    opacity: 0;
    transform: translateY(20px);

    animation: show-up 0.7s cubic-bezier(.7,.86,.78,1);
    animation-delay: 2.5s;animation-fill-mode: forwards;
}

.book img{
    width: 100%;
    max-width: 320px;

    opacity: 0;
    transform: translateY(20px);

    animation: show-up 0.7s cubic-bezier(.7,.86,.78,1);
    animation-delay: 2.7s;animation-fill-mode: forwards;
}

/* section02 end */

.text-box{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    width: 90%;
}
.text-box-wrap::before{
    position: absolute;
    left: 10px;
    top: 10px;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid #2034EA;
    z-index: -1;
}
.text-box-wrap{
    padding: 30px 40px;
    color: #fff;
    background-color: #2034EA;
    justify-content: center;
}
.text-box p{
    align-self: center;
    padding: 0 20px;
}
.text-box span{
    font-size: 70px;
    font-family: 'Palanquin', sans-serif;
}
.text-box span:first-child{
    transform: rotate(180deg) translateY(13px);
}
.text-box span:last-child{
    transform: translateY(13px);
}

/* section03 end */

.writer-say{
    padding: 80px 0;
}

/* section04 end */
.speech{
    margin-bottom: 200px;
    flex-wrap: wrap;
}
.speech-bubble{
    position: relative;
    height: 100%;
    padding: 60px 70px 100px;
    background-color: #fff;
    border-radius: 120px;
}
.speech-bubble::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0px;
    height: 0px;
    border-left: 120px solid transparent;
    border-top: 120px solid #fff;
    z-index: -1;
}
.deco-line{
    display: inline-block;
    padding: 3px 12px 5px;
    position: relative;
    color: #2034EA;
    border: 1px solid #2034EA;
}
.speech-bubble span{
    position: relative;
    display: block;
    padding-bottom: 30px;
    margin: 30px 0 50px;
    font-size: 12px;
    color: #666;
}
.speech-bubble span::after{
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
    background-color: #000;
}
.speech-bubble p{
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
}

/* section05 end */

.event{
    position: relative;
    padding-top: 95px;
    padding-bottom: 65px;
}
.event-num{
    position: relative;
    width: 170px;
    height: 125px;
    margin: 0 auto;
}
.event-num span{
    display: block;
    transform: translateY(9px);
    font-weight: 500;
    font-size: 11px;
}
.event-num p{
    font-size: 35px;
}
.num-wrap{
    transform: translateY(48px);
}
.event .title{
    font-size: 28px;
    position: relative;
    font-family: 'Noto Serif KR', serif;
    font-weight: 500;
}
.period{
    color: #828282;
    padding-top: 20px;
    margin-bottom: 30px;
}
.event-caution{
    padding: 30px;
    font-size: 14px;
}
.event-caution li{
    position: relative;
}
.event-caution li::after{
    position: absolute;
    content: '';
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 2px;
    height: 2px;
    border-radius: 100%;
}
.event01 .event-caution li::after{
    background-color: #fff;
}
.event02 .event-caution li::after{
    background-color: #43D2FF;
}
/* event common end */


.event01{
    background-color: #8AE3FF;
    border-radius: 0px 400px 0px 0px;
}
.event01 .event-num::before{
    content: '';
    width: 170px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    background:  linear-gradient(315deg, rgba(32, 52, 234, 0) 35.3%, #2034EA 50.26%);
    border-radius: 100%;
    background-position: 100% 100%;

    background-size: 300% 300%;
}
.event01 .event-num-show::before{
    animation: event-gradient 0.7s ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
@keyframes event-gradient{
    from{
        background-position: 100% 100%;
    }
    to{
        background-position: 30% 90%;
    }
}
.num-wrap{
    padding-top: 45px;
}
.event01 .num-wrap,
.event01 .title{
    color: #fff;
}
.event .bg{
    background: #8AE3FF;
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -999;
}

.event01 .caption{
    position: absolute;
    color: #2034EA;
    top: -14px;
    left: -22px;
    z-index: 90;
    font-size: 20px;
}
.swiper{
    height: 365px;
}
.swiper-slide{
    width: 100%;
    height: 100%;
}
.slide1{
    background: url(../images/cup1.jpg) center no-repeat;
    background-size: cover;
}
.slide2{
    background: url(../images/cup2.jpg) center no-repeat;
    background-size: cover;
}
.slide3{
    background: url(../images/cup3.jpg) center no-repeat;
    background-size: cover;
}
.slide4{
    background: url(../images/cup4.jpg) center no-repeat;
    background-size: cover;
}
.slide5{
    background: url(../images/cup5.jpg) center no-repeat;
    background-size: cover;
}
.swiper-pagination{
    display: inline-block;
    width: unset;
    position: absolute;
    left: unset;
    right: 10px;
    color: #2034EA;
}
.event02-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #8AE3FF;
    z-index: -100;
}
/* evnet1 end */
.event02{
    position: relative;
    background-color: #fff;
    border-radius: 400px 0px 0px 0px;
}
.event02 .event-num::before{
    content: '';
    width: 170px;
    height: 170px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: linear-gradient(315deg, rgba(255, 227, 227, 0) 35.05%, #FFE3E3 50%);
    border-radius: 100%;
    background-position: 100% 100%;

    background-size: 300% 300%;
}
.event02 .event-num-show::before{
    animation: event-gradient 0.7s ease-in-out;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}
.event02 .title,
.event02 .num-wrap{
    color: #2034EA;
}
.notification{
    font-weight: 500;
    padding-top: 20px;
    font-size: 18px;
}
.event02 .period{
    position: relative;
}
.ticket{
    position: relative;
    overflow: hidden;
}
.ticket::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
}
.ticket::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(#fff 33%, rgba(255,255,255,0) 0%);
    background-position: right;
    background-size: 2px 17px;
    background-repeat: repeat-y;
    top: 0;
    left: 80px;
}
.ticket-bg{
    width: 100%;
    height: 200px;
    background: linear-gradient(90.15deg, #C9EEFA 11.73%, #FFE3E3 81.95%);
    background-size: 200% 200%;

    animation: pink-blue-bg 4s ease infinite;
}
.ticket-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #2034EA;
    mix-blend-mode: color-burn;
}
.ticket-text p{
    font-size: 60px;
    font-weight: 700;
    mix-blend-mode: color-dodge;
}
.ticket-text p>span{
    font-size: 30px;
}

/* evnet end */
.caution{
    font-size: 14px;
    padding: 30px 0;
}
.caution p{
    padding-bottom: 10px;
    color: #828282;
}

/* background */
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2300px;
    overflow: hidden;

    z-index: -999;
}
.bg-circle{
    position: absolute;
    background: linear-gradient(162deg, rgba(255,227,227,1) 23%, rgba(228,233,238,1) 40%, rgba(201,238,250,1) 70%);
    border-radius: 100%;
    background-size: 200% 200%;
}
.move-right{
    position: absolute;
    top: 108px;
    left: -300px;
    opacity: 0;
    z-index: -999;
    animation: move-right 0.7s cubic-bezier(.7,.86,.78,1);
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes move-right {
    0%{
        left: -300px;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
.bg-circle-01{
    width: 1100px;
    height: 1100px;
    z-index: -999;
    animation: pink-blue-bg 5s ease infinite;
}
.bg-circle-02{
    top: 940px;
    left: 620px;
    width: 1100px;
    height: 1100px;
    z-index: -970;
    animation: pink-blue-bg 8s ease infinite;
}
.bg-circle-03{
    top: 1500px;
    left: 30px;
    width: 500px;
    height: 500px;
    z-index: -997;
    animation: pink-blue-bg 4s ease infinite;
}

@keyframes pink-blue-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* background end */

/* footer */
footer{
    position: relative;
    background-color: #C9EEFA;
}


/* ============
media query
============ */

@media(max-width:1300px){
    .bg-circle-01{
        left:-20px;
    }
    .bg-circle-02{
        left: 350px;
    }
}
@media(max-width:800px){
    .event01{
        border-radius: 0px 350px 0px 0px;
    }
    .event02{
        border-radius: 350px 0px 0px 0px;
    }
    .bg-circle-01{
        top: 65px;
        left:-200px;
    }
    .bg-circle-02{
        left: 90px;
    }
    .bg-circle-03{
        left: -120px;
    }
}
@media(max-width:763px){
    .speech-bubble{
        padding: 60px 60px 85px;
    }
    .speech-bubble span{
        margin: 30px 0 30px;
    }
    .speech>.col-md-6:last-child{
        margin-top: 25px;
    }
}
@media(max-width:600px){
    .first-circle{
        width: 150%;
    }
    .text-box-wrap{
        flex-direction: column;
    }
    /* slider */
    .wrap{
        width: 80%;
    }
    .swiper{
        height: 250px;
    }
    /* tiket */
    .ticket::before{
        left: 50px;
    }
    .ticket::after{
        width: 80px;
        height: 80px;
        right: 0;
        transform: translate(50%, -50%);
    }
}
@media(max-width:500px){
    .main{
        margin-bottom: 70px;
    }
    .writer{
        padding: 20px 0;
    }
    .writer p{
        font-size: 14px;
    }
    .writer P::before{
        width: 35px;
        transform: translate(-89px, -50%);
    }
    .writer P::after{
        width: 35px;
        transform: translate(89px, -50%);
    }
    .writer h3{
        font-size: 22px;
    }
    .anniversary{
        width: 175px;
        height: 60px;
    }
    .anniversary span{
        width: 57px;
        height: 57px;
        line-height: 57px;
        font-size: 20px;
    }
    .anniversary span:nth-child(2){
        left: 40px;
    }
    .anniversary span:nth-child(3){
        left: 80px;
    }
    .anniversary span:nth-child(4){
        left: 120px;
    }

    .main .period{
        font-size: 14px;
        padding-top: 0;
    }
    .book img{
        width: 175px;
    }

    .title h2::after{
        width: 175px;
    }
    .title h2{
        font-size: 20px;
    }
    .text-box-wrap{
        padding: 15px 0px;
    }
    .text-box span{
        font-size: 32px;
    }
    .text-box p{
        padding: 0;
        font-size: 14px;
    }
    .writer-say{
        padding: 50px 0;
    }
    .writer-say p{
        padding: 0 42px;
    }

    .speech{
        margin-bottom: 100px;
    }
    .speech-bubble{
        padding: 45px 35px 65px;
        border-radius: 80px;
    }
    .speech-bubble span{
        margin: 20px 0 30px;
        padding-bottom: 20px;
    }

    .event{
        padding-top: 65px;
        padding-bottom: 20px;
    }
    .event01{
        border-radius: 0px 175px 0px 0px;
    }
    .event02{
        border-radius: 175px 0px 0px 0px;
    }
    .event-num{
        width: 100px;
        height: 85px;
    }
    .event01 .event-num::before,
    .event02 .event-num::before{
        width: 100px;
        height: 100px;
    }
    .num-wrap{
        padding-top: 15px;
    }
    .event .title{
        font-size: 20px;
    }
    .notification{
        padding-top: 12px;
        font-size: 16px;
    }
    .event .period{
        font-size: 14px;
        padding-top: 12px;
    }
    .event-caution{
        padding: 11px;
    }
    .wrap{
        width: 90%;
    }
    .ticket-bg{
        height: 145px;
    }
    .ticket-text p{
        font-size: 60px;
        line-height: 1;
    }
    .event01 .caption{
        left: -10px;
    }
    .bg-circle-01{
        top: 160px;
        left: -275px;
        width: 700px;
        height: 700px;
    }
    .bg-circle-02{
        top: 1050px;
        left: -10px;
        width: 500px;
        height: 500px;
    }
    .bg-circle-03{
        top: 1860px;
        left: -10px;
        width: 200px;
        height: 200px;
    }
}